button {
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2rem;
}

button#minus {
    background-color: red;
}

button#plus {
    background-color: green;
}

button#minus:hover {
    background-color: lightcoral;
}

button#plus:hover {
    background-color: lightgreen;
}

span#num {
    font-size: 2rem;
    border: solid 2px black;
    padding: 0 10px;
    margin: 0 5px;
}